In [1]:
import pandas as pd
df = pd.read_csv('hospital.csv')

In [2]:
df[:3]

,DAY,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID
0,1,7:30,9:01,9:01,10:15,9:49,11:19,11:26,190,439,933.0,768,668.0,953.0
1,1,7:30,8:15,8:17,8:36,8:51,9:40,9:45,684,908,993.0,125,639.0,NaN
2,1,7:30,8:05,8:05,8:22,8:37,10:03,10:05,190,362,855.0,520,353.0,953.0

In [3]:
df = df.fillna(999)
df['Scrub ID'] = df['Scrub ID'].astype('int')
df['First Assistant ID'] = df['First Assistant ID'].astype('int')
df['Second Assistant ID'] = df['Second Assistant ID'].astype('int')
df = df.astype('str')

In [4]:
df['sur'] = 'sur'
df['ane'] = 'ane'
df['scr'] = 'scr'
df['cir'] = 'cir'
df['fai'] = 'fai'
df['sai'] = 'sai'
df['Surgeon ID'] = df['sur'].str.cat(df['Surgeon ID'])
df['Anesthesiologist ID'] = df['ane'].str.cat(df['Anesthesiologist ID'])
df['Scrub ID'] = df['scr'].str.cat(df['Scrub ID'])
df['Circulator ID'] = df['cir'].str.cat(df['Circulator ID'])
df['First Assistant ID'] = df['fai'].str.cat(df['First Assistant ID'])
df['Second Assistant ID'] = df['sai'].str.cat(df['Second Assistant ID'])

In [5]:
df[:3]

,DAY,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID,sur,ane,scr,cir,fai,sai
0,1,7:30,9:01,9:01,10:15,9:49,11:19,11:26,sur190,ane439,scr933,cir768,fai668,sai953,sur,ane,scr,cir,fai,sai
1,1,7:30,8:15,8:17,8:36,8:51,9:40,9:45,sur684,ane908,scr993,cir125,fai639,sai999,sur,ane,scr,cir,fai,sai
2,1,7:30,8:05,8:05,8:22,8:37,10:03,10:05,sur190,ane362,scr855,cir520,fai353,sai953,sur,ane,scr,cir,fai,sai

In [6]:
df_gene = df[['DAY','Surgeon ID','Anesthesiologist ID','Scrub ID','Circulator ID','First Assistant ID','Second Assistant ID']]

In [7]:
df_gene[:3]

,DAY,Surgeon ID,Anesthesiologist ID,Scrub ID,Circulator ID,First Assistant ID,Second Assistant ID
0,1,sur190,ane439,scr933,cir768,fai668,sai953
1,1,sur684,ane908,scr993,cir125,fai639,sai999
2,1,sur190,ane362,scr855,cir520,fai353,sai953

In [6]:
df['SSC ID'] = df['Surgeon ID'].str.cat(df['Scrub ID'],sep = ',')
df['SC ID'] = df['Surgeon ID'].str.cat(df['Circulator ID'],sep = ',')
df['SF ID'] = df['Surgeon ID'].str.cat(df['First Assistant ID'],sep = ',')
df['SSA ID'] = df['Surgeon ID'].str.cat(df['Second Assistant ID'],sep = ',')
df['ASC ID'] = df['Anesthesiologist ID'].str.cat(df['Scrub ID'],sep = ',')
df['AC ID'] = df['Anesthesiologist ID'].str.cat(df['Circulator ID'],sep = ',')
df['SF ID'] = df['Anesthesiologist ID'].str.cat(df['First Assistant ID'],sep = ',')
df['ASA ID'] = df['Anesthesiologist ID'].str.cat(df['Second Assistant ID'],sep = ',')
df['SCC ID'] = df['Scrub ID'].str.cat(df['Circulator ID'],sep = ',')
df['SCF ID'] = df['Scrub ID'].str.cat(df['First Assistant ID'],sep = ',')
df['SCSA ID'] = df['Scrub ID'].str.cat(df['Second Assistant ID'],sep = ',')
df['CF ID'] = df['Circulator ID'].str.cat(df['First Assistant ID'],sep = ',')
df['CA ID'] = df['Circulator ID'].str.cat(df['Anesthesiologist ID'],sep = ',')
df['CSA ID'] = df['First Assistant ID'].str.cat(df['Second Assistant ID'],sep = ',')

In [7]:
df[:3]

,DAY,Room Setup Start Time,Patient in Room Time,Anesthesia Start Time,Induction End,Procedure Start,Procedure End,Patient out of Room,Surgeon ID,Anesthesiologist ID,...,SSA ID,ASC ID,AC ID,ASA ID,SCC ID,SCF ID,SCSA ID,CF ID,CA ID,CSA ID
0,1,7:30,9:01,9:01,10:15,9:49,11:19,11:26,sur190,ane439,...,"sur190,sai953","ane439,scr933","ane439,cir768","ane439,sai953","scr933,cir768","scr933,fai668","scr933,sai953","cir768,fai668","cir768,ane439","fai668,sai953"
1,1,7:30,8:15,8:17,8:36,8:51,9:40,9:45,sur684,ane908,...,"sur684,sai999","ane908,scr993","ane908,cir125","ane908,sai999","scr993,cir125","scr993,fai639","scr993,sai999","cir125,fai639","cir125,ane908","fai639,sai999"
2,1,7:30,8:05,8:05,8:22,8:37,10:03,10:05,sur190,ane362,...,"sur190,sai953","ane362,scr855","ane362,cir520","ane362,sai953","scr855,cir520","scr855,fai353","scr855,sai953","cir520,fai353","cir520,ane362","fai353,sai953"

In [10]:
SSC = pd.value_counts(df['SSC ID'])
SC = pd.value_counts(df['SC ID'])
SF = pd.value_counts(df['SF ID'])
SSA = pd.value_counts(df['SSA ID'])
ASC = pd.value_counts(df['ASC ID'])
AC = pd.value_counts(df['AC ID'])
SF = pd.value_counts(df['SF ID'])
ASA = pd.value_counts(df['ASA ID'])
SCC = pd.value_counts(df['SCC ID'])
SCF = pd.value_counts(df['SCF ID'])
SCSA = pd.value_counts(df['SCSA ID'])
CF = pd.value_counts(df['CF ID'])
CA = pd.value_counts(df['CA ID'])
CSA = pd.value_counts(df['CSA ID'])

In [12]:
SSC = pd.DataFrame(SSC)
SC = pd.DataFrame(SC)
SF = pd.DataFrame(SF)
SSA = pd.DataFrame(SSA)
ASC = pd.DataFrame(ASC)
AC = pd.DataFrame(AC)
SF = pd.DataFrame(SF)
ASA = pd.DataFrame(ASA)
SCC = pd.DataFrame(SCC)
SCF = pd.DataFrame(SCF)
SCSA = pd.DataFrame(SCSA)
CF = pd.DataFrame(CF)
CA = pd.DataFrame(CA)
CSA = pd.DataFrame(CSA)

In [19]:
SSC.to_csv('edges1.csv')

In [33]:
CSA.to_csv('edges2.csv')

In [34]:
data = pd.read_csv('edges1.csv')

In [46]:
data_1 = data_1.astype('str')

In [37]:
data['source'], data['target'] = data['id'].str.split(',', 1).str

In [39]:
data = data.drop(['id'],axis =1)

In [40]:
data_1 = pd.read_csv('edges.csv')

In [41]:
data_1[:3]

   source  target  weigh
0     876     833    264
1     743     465    261
2     366     833    256

In [47]:
data_1['sur'] = 'sur'
data_1['ane'] = 'ane'
data_1['source'] = data_1['sur'].str.cat(data_1['source'])
data_1['target'] = data_1['ane'].str.cat(data_1['target'])

In [49]:
data_1 = data_1.drop(['sur','ane'],axis =1)

In [50]:
data_1.to_csv('edges.csv')

In [52]:
data.to_csv('edges1.csv')

In [53]:
pd.unique(df['Surgeon ID'])

array(['sur190', 'sur684', 'sur93', 'sur975', 'sur293', 'sur876',
       'sur366', 'sur17', 'sur647', 'sur698', 'sur782', 'sur795',
       'sur745', 'sur962', 'sur426', 'sur743', 'sur107', 'sur342',
       'sur89', 'sur585', 'sur966', 'sur556', 'sur663', 'sur574',
       'sur763', 'sur343', 'sur416', 'sur744', 'sur788', 'sur712',
       'sur947', 'sur874', 'sur825', 'sur584', 'sur710', 'sur972',
       'sur283', 'sur561', 'sur22', 'sur453', 'sur505', 'sur183',
       'sur777', 'sur237', 'sur994', 'sur21', 'sur778', 'sur240', 'sur18',
       'sur239', 'sur200', 'sur642', 'sur589'], dtype=object)

In [54]:
pd.unique(df['Anesthesiologist ID'])

array(['ane439', 'ane908', 'ane362', 'ane394', 'ane918', 'ane985',
       'ane92', 'ane238', 'ane508', 'ane559', 'ane264', 'ane645',
       'ane630', 'ane465', 'ane346', 'ane833', 'ane682', 'ane248',
       'ane130', 'ane536', 'ane434', 'ane225', 'ane938', 'ane518',
       'ane75', 'ane885', 'ane349', 'ane736', 'ane67', 'ane687', 'ane63',
       'ane327', 'ane604', 'ane515', 'ane351', 'ane376', 'ane992',
       'ane165', 'ane776', 'ane473', 'ane460', 'ane699', 'ane345',
       'ane657', 'ane914', 'ane988', 'ane380', 'ane476', 'ane492',
       'ane535', 'ane544'], dtype=object)

In [55]:
pd.unique(df['First Assistant ID'])

array(['fai668', 'fai639', 'fai353', 'fai480', 'fai428', 'fai728',
       'fai478', 'fai33', 'fai873', 'fai4', 'fai43', 'fai794', 'fai927',
       'fai510', 'fai323', 'fai875', 'fai5', 'fai565', 'fai804', 'fai729',
       'fai401', 'fai486', 'fai513', 'fai999', 'fai266', 'fai715',
       'fai567', 'fai934', 'fai791', 'fai319', 'fai39', 'fai495',
       'fai500', 'fai569', 'fai558', 'fai636', 'fai408', 'fai91',
       'fai954', 'fai839', 'fai795', 'fai703', 'fai610', 'fai317',
       'fai633', 'fai796', 'fai284', 'fai807', 'fai996', 'fai224', 'fai3',
       'fai156', 'fai387', 'fai255', 'fai228', 'fai474', 'fai732',
       'fai825', 'fai824', 'fai697', 'fai595', 'fai937', 'fai870',
       'fai665', 'fai46', 'fai647', 'fai338', 'fai171', 'fai642',
       'fai229', 'fai541', 'fai214', 'fai905', 'fai149', 'fai596',
       'fai251', 'fai332', 'fai388', 'fai761', 'fai422', 'fai452',
       'fai609', 'fai276', 'fai893', 'fai622', 'fai817', 'fai926',
       'fai884', 'fai442', 'fai511', 'fai752', 'fai524', 'fai431',
       'fai564', 'fai309', 'fai133', 'fai625', 'fai813', 'fai755',
       'fai32', 'fai209', 'fai369', 'fai879', 'fai451', 'fai355', 'fai38',
       'fai381', 'fai326', 'fai658', 'fai887', 'fai505', 'fai888',
       'fai764', 'fai459', 'fai252', 'fai458', 'fai299', 'fai530',
       'fai651', 'fai812', 'fai946', 'fai874', 'fai84', 'fai262',
       'fai631', 'fai425', 'fai356', 'fai677', 'fai347', 'fai671',
       'fai74', 'fai894', 'fai806', 'fai527', 'fai915', 'fai233', 'fai65',
       'fai186', 'fai740', 'fai314', 'fai523', 'fai945', 'fai672',
       'fai227', 'fai352', 'fai137', 'fai210', 'fai201', 'fai589',
       'fai318', 'fai80', 'fai578', 'fai570', 'fai714', 'fai225',
       'fai814', 'fai49', 'fai901', 'fai6', 'fai543', 'fai655', 'fai903',
       'fai995', 'fai818', 'fai753', 'fai789', 'fai872', 'fai234',
       'fai194', 'fai835', 'fai871', 'fai620', 'fai180', 'fai306',
       'fai114', 'fai739', 'fai704', 'fai48', 'fai386', 'fai127',
       'fai948', 'fai746', 'fai206', 'fai444', 'fai55', 'fai182',
       'fai627', 'fai965', 'fai392', 'fai493', 'fai183', 'fai661',
       'fai328', 'fai429', 'fai390', 'fai646', 'fai230', 'fai947',
       'fai827', 'fai427', 'fai430', 'fai310', 'fai270', 'fai910',
       'fai488', 'fai925', 'fai213', 'fai90', 'fai754', 'fai950',
       'fai676', 'fai830', 'fai71', 'fai842', 'fai741', 'fai603',
       'fai315', 'fai197', 'fai971', 'fai54', 'fai463', 'fai583',
       'fai141', 'fai592', 'fai129', 'fai632', 'fai116'], dtype=object)

In [56]:
pd.unique(df['Scrub ID'])

array(['scr933', 'scr993', 'scr855', 'scr398', 'scr131', 'scr916',
       'scr616', 'scr772', 'scr418', 'scr749', 'scr40', 'scr115',
       'scr506', 'scr136', 'scr549', 'scr330', 'scr552', 'scr205',
       'scr202', 'scr142', 'scr120', 'scr391', 'scr258', 'scr999',
       'scr57', 'scr907', 'scr479', 'scr656', 'scr674', 'scr998',
       'scr624', 'scr167', 'scr792', 'scr619', 'scr802', 'scr553',
       'scr643', 'scr897', 'scr257', 'scr768', 'scr177', 'scr151',
       'scr718', 'scr13', 'scr981', 'scr9', 'scr37', 'scr117', 'scr135',
       'scr277', 'scr851', 'scr738', 'scr717', 'scr109', 'scr297',
       'scr179', 'scr607', 'scr799', 'scr626', 'scr10', 'scr576',
       'scr118', 'scr770', 'scr725', 'scr138', 'scr445', 'scr605',
       'scr723', 'scr644', 'scr274', 'scr275', 'scr612', 'scr896',
       'scr853', 'scr961', 'scr980', 'scr606', 'scr259', 'scr683',
       'scr241', 'scr87', 'scr889', 'scr303', 'scr909', 'scr919', 'scr2',
       'scr512', 'scr597', 'scr361', 'scr991', 'scr123', 'scr805',
       'scr413', 'scr178', 'scr781', 'scr404', 'scr421', 'scr756',
       'scr336', 'scr867', 'scr333', 'scr164', 'scr924', 'scr766',
       'scr722', 'scr550', 'scr35', 'scr188', 'scr419', 'scr864',
       'scr599', 'scr529', 'scr662', 'scr629', 'scr775'], dtype=object)

In [57]:
pd.unique(df['Circulator ID'])

array(['cir768', 'cir125', 'cir520', 'cir437', 'cir799', 'cir241',
       'cir512', 'cir859', 'cir576', 'cir608', 'cir421', 'cir701',
       'cir253', 'cir277', 'cir341', 'cir612', 'cir110', 'cir432',
       'cir20', 'cir919', 'cir297', 'cir722', 'cir78', 'cir519', 'cir151',
       'cir626', 'cir853', 'cir662', 'cir725', 'cir470', 'cir15',
       'cir695', 'cir856', 'cir108', 'cir126', 'cir313', 'cir952',
       'cir282', 'cir613', 'cir683', 'cir606', 'cir140', 'cir106',
       'cir850', 'cir942', 'cir260', 'cir654', 'cir443', 'cir607',
       'cir176', 'cir330', 'cir553', 'cir245', 'cir597', 'cir303',
       'cir472', 'cir449', 'cir738', 'cir138', 'cir164', 'cir413',
       'cir340', 'cir843', 'cir95', 'cir762', 'cir573', 'cir815',
       'cir980', 'cir404', 'cir880', 'cir898', 'cir896', 'cir849',
       'cir628', 'cir867', 'cir890', 'cir336', 'cir83', 'cir863',
       'cir321', 'cir757', 'cir924', 'cir249', 'cir766', 'cir1', 'cir660',
       'cir244', 'cir275', 'cir822', 'cir529', 'cir312', 'cir811',
       'cir188', 'cir185', 'cir819', 'cir737', 'cir735', 'cir166'],
      dtype=object)

In [58]:
pd.unique(df['Second Assistant ID'])

array(['sai953', 'sai999', 'sai297', 'sai889', 'sai717', 'sai873',
       'sai723', 'sai10', 'sai2', 'sai118', 'sai851', 'sai361', 'sai991',
       'sai756', 'sai274', 'sai223', 'sai222', 'sai259', 'sai391', 'sai9',
       'sai131', 'sai644', 'sai202', 'sai115', 'sai549', 'sai552',
       'sai768', 'sai674', 'sai117', 'sai91', 'sai996', 'sai218',
       'sai398', 'sai909', 'sai656', 'sai120', 'sai718', 'sai167',
       'sai506', 'sai848', 'sai896', 'sai855', 'sai850', 'sai643',
       'sai749', 'sai179', 'sai142', 'sai893', 'sai177', 'sai934',
       'sai478', 'sai381', 'sai916', 'sai973', 'sai486', 'sai418',
       'sai214', 'sai658', 'sai257', 'sai998', 'sai109', 'sai258',
       'sai349', 'sai37', 'sai802', 'sai136', 'sai336', 'sai633',
       'sai732', 'sai479', 'sai284', 'sai807', 'sai38', 'sai879', 'sai65',
       'sai425', 'sai314', 'sai57', 'sai597', 'sai569', 'sai683',
       'sai589', 'sai610', 'sai408', 'sai313', 'sai890', 'sai1', 'sai872',
       'sai13', 'sai427', 'sai626', 'sai151', 'sai389', 'sai676',
       'sai804', 'sai430', 'sai429', 'sai205', 'sai488', 'sai599',
       'sai919', 'sai753', 'sai950', 'sai550', 'sai498', 'sai619',
       'sai791', 'sai792', 'sai933', 'sai952', 'sai40', 'sai864',
       'sai188', 'sai655', 'sai253', 'sai412', 'sai627'], dtype=object)

In [59]:
data = {'name':['sur190', 'sur684', 'sur93', 'sur975', 'sur293', 'sur876',
       'sur366', 'sur17', 'sur647', 'sur698', 'sur782', 'sur795',
       'sur745', 'sur962', 'sur426', 'sur743', 'sur107', 'sur342',
       'sur89', 'sur585', 'sur966', 'sur556', 'sur663', 'sur574',
       'sur763', 'sur343', 'sur416', 'sur744', 'sur788', 'sur712',
       'sur947', 'sur874', 'sur825', 'sur584', 'sur710', 'sur972',
       'sur283', 'sur561', 'sur22', 'sur453', 'sur505', 'sur183',
       'sur777', 'sur237', 'sur994', 'sur21', 'sur778', 'sur240', 'sur18',
       'sur239', 'sur200', 'sur642', 'sur589','ane439', 'ane908', 'ane362', 'ane394', 'ane918', 'ane985',
       'ane92', 'ane238', 'ane508', 'ane559', 'ane264', 'ane645',
       'ane630', 'ane465', 'ane346', 'ane833', 'ane682', 'ane248',
       'ane130', 'ane536', 'ane434', 'ane225', 'ane938', 'ane518',
       'ane75', 'ane885', 'ane349', 'ane736', 'ane67', 'ane687', 'ane63',
       'ane327', 'ane604', 'ane515', 'ane351', 'ane376', 'ane992',
       'ane165', 'ane776', 'ane473', 'ane460', 'ane699', 'ane345',
       'ane657', 'ane914', 'ane988', 'ane380', 'ane476', 'ane492',
       'ane535', 'ane544','scr933', 'scr993', 'scr855', 'scr398', 'scr131', 'scr916',
       'scr616', 'scr772', 'scr418', 'scr749', 'scr40', 'scr115',
       'scr506', 'scr136', 'scr549', 'scr330', 'scr552', 'scr205',
       'scr202', 'scr142', 'scr120', 'scr391', 'scr258', 'scr999',
       'scr57', 'scr907', 'scr479', 'scr656', 'scr674', 'scr998',
       'scr624', 'scr167', 'scr792', 'scr619', 'scr802', 'scr553',
       'scr643', 'scr897', 'scr257', 'scr768', 'scr177', 'scr151',
       'scr718', 'scr13', 'scr981', 'scr9', 'scr37', 'scr117', 'scr135',
       'scr277', 'scr851', 'scr738', 'scr717', 'scr109', 'scr297',
       'scr179', 'scr607', 'scr799', 'scr626', 'scr10', 'scr576',
       'scr118', 'scr770', 'scr725', 'scr138', 'scr445', 'scr605',
       'scr723', 'scr644', 'scr274', 'scr275', 'scr612', 'scr896',
       'scr853', 'scr961', 'scr980', 'scr606', 'scr259', 'scr683',
       'scr241', 'scr87', 'scr889', 'scr303', 'scr909', 'scr919', 'scr2',
       'scr512', 'scr597', 'scr361', 'scr991', 'scr123', 'scr805',
       'scr413', 'scr178', 'scr781', 'scr404', 'scr421', 'scr756',
       'scr336', 'scr867', 'scr333', 'scr164', 'scr924', 'scr766',
       'scr722', 'scr550', 'scr35', 'scr188', 'scr419', 'scr864',
       'scr599', 'scr529', 'scr662', 'scr629', 'scr775','cir768', 'cir125', 'cir520', 'cir437', 'cir799', 'cir241',
       'cir512', 'cir859', 'cir576', 'cir608', 'cir421', 'cir701',
       'cir253', 'cir277', 'cir341', 'cir612', 'cir110', 'cir432',
       'cir20', 'cir919', 'cir297', 'cir722', 'cir78', 'cir519', 'cir151',
       'cir626', 'cir853', 'cir662', 'cir725', 'cir470', 'cir15',
       'cir695', 'cir856', 'cir108', 'cir126', 'cir313', 'cir952',
       'cir282', 'cir613', 'cir683', 'cir606', 'cir140', 'cir106',
       'cir850', 'cir942', 'cir260', 'cir654', 'cir443', 'cir607',
       'cir176', 'cir330', 'cir553', 'cir245', 'cir597', 'cir303',
       'cir472', 'cir449', 'cir738', 'cir138', 'cir164', 'cir413',
       'cir340', 'cir843', 'cir95', 'cir762', 'cir573', 'cir815',
       'cir980', 'cir404', 'cir880', 'cir898', 'cir896', 'cir849',
       'cir628', 'cir867', 'cir890', 'cir336', 'cir83', 'cir863',
       'cir321', 'cir757', 'cir924', 'cir249', 'cir766', 'cir1', 'cir660',
       'cir244', 'cir275', 'cir822', 'cir529', 'cir312', 'cir811',
       'cir188', 'cir185', 'cir819', 'cir737', 'cir735', 'cir166','fai668', 'fai639', 'fai353', 'fai480', 'fai428', 'fai728',
       'fai478', 'fai33', 'fai873', 'fai4', 'fai43', 'fai794', 'fai927',
       'fai510', 'fai323', 'fai875', 'fai5', 'fai565', 'fai804', 'fai729',
       'fai401', 'fai486', 'fai513', 'fai999', 'fai266', 'fai715',
       'fai567', 'fai934', 'fai791', 'fai319', 'fai39', 'fai495',
       'fai500', 'fai569', 'fai558', 'fai636', 'fai408', 'fai91',
       'fai954', 'fai839', 'fai795', 'fai703', 'fai610', 'fai317',
       'fai633', 'fai796', 'fai284', 'fai807', 'fai996', 'fai224', 'fai3',
       'fai156', 'fai387', 'fai255', 'fai228', 'fai474', 'fai732',
       'fai825', 'fai824', 'fai697', 'fai595', 'fai937', 'fai870',
       'fai665', 'fai46', 'fai647', 'fai338', 'fai171', 'fai642',
       'fai229', 'fai541', 'fai214', 'fai905', 'fai149', 'fai596',
       'fai251', 'fai332', 'fai388', 'fai761', 'fai422', 'fai452',
       'fai609', 'fai276', 'fai893', 'fai622', 'fai817', 'fai926',
       'fai884', 'fai442', 'fai511', 'fai752', 'fai524', 'fai431',
       'fai564', 'fai309', 'fai133', 'fai625', 'fai813', 'fai755',
       'fai32', 'fai209', 'fai369', 'fai879', 'fai451', 'fai355', 'fai38',
       'fai381', 'fai326', 'fai658', 'fai887', 'fai505', 'fai888',
       'fai764', 'fai459', 'fai252', 'fai458', 'fai299', 'fai530',
       'fai651', 'fai812', 'fai946', 'fai874', 'fai84', 'fai262',
       'fai631', 'fai425', 'fai356', 'fai677', 'fai347', 'fai671',
       'fai74', 'fai894', 'fai806', 'fai527', 'fai915', 'fai233', 'fai65',
       'fai186', 'fai740', 'fai314', 'fai523', 'fai945', 'fai672',
       'fai227', 'fai352', 'fai137', 'fai210', 'fai201', 'fai589',
       'fai318', 'fai80', 'fai578', 'fai570', 'fai714', 'fai225',
       'fai814', 'fai49', 'fai901', 'fai6', 'fai543', 'fai655', 'fai903',
       'fai995', 'fai818', 'fai753', 'fai789', 'fai872', 'fai234',
       'fai194', 'fai835', 'fai871', 'fai620', 'fai180', 'fai306',
       'fai114', 'fai739', 'fai704', 'fai48', 'fai386', 'fai127',
       'fai948', 'fai746', 'fai206', 'fai444', 'fai55', 'fai182',
       'fai627', 'fai965', 'fai392', 'fai493', 'fai183', 'fai661',
       'fai328', 'fai429', 'fai390', 'fai646', 'fai230', 'fai947',
       'fai827', 'fai427', 'fai430', 'fai310', 'fai270', 'fai910',
       'fai488', 'fai925', 'fai213', 'fai90', 'fai754', 'fai950',
       'fai676', 'fai830', 'fai71', 'fai842', 'fai741', 'fai603',
       'fai315', 'fai197', 'fai971', 'fai54', 'fai463', 'fai583',
       'fai141', 'fai592', 'fai129', 'fai632', 'fai116','sai953', 'sai999', 'sai297', 'sai889', 'sai717', 'sai873',
       'sai723', 'sai10', 'sai2', 'sai118', 'sai851', 'sai361', 'sai991',
       'sai756', 'sai274', 'sai223', 'sai222', 'sai259', 'sai391', 'sai9',
       'sai131', 'sai644', 'sai202', 'sai115', 'sai549', 'sai552',
       'sai768', 'sai674', 'sai117', 'sai91', 'sai996', 'sai218',
       'sai398', 'sai909', 'sai656', 'sai120', 'sai718', 'sai167',
       'sai506', 'sai848', 'sai896', 'sai855', 'sai850', 'sai643',
       'sai749', 'sai179', 'sai142', 'sai893', 'sai177', 'sai934',
       'sai478', 'sai381', 'sai916', 'sai973', 'sai486', 'sai418',
       'sai214', 'sai658', 'sai257', 'sai998', 'sai109', 'sai258',
       'sai349', 'sai37', 'sai802', 'sai136', 'sai336', 'sai633',
       'sai732', 'sai479', 'sai284', 'sai807', 'sai38', 'sai879', 'sai65',
       'sai425', 'sai314', 'sai57', 'sai597', 'sai569', 'sai683',
       'sai589', 'sai610', 'sai408', 'sai313', 'sai890', 'sai1', 'sai872',
       'sai13', 'sai427', 'sai626', 'sai151', 'sai389', 'sai676',
       'sai804', 'sai430', 'sai429', 'sai205', 'sai488', 'sai599',
       'sai919', 'sai753', 'sai950', 'sai550', 'sai498', 'sai619',
       'sai791', 'sai792', 'sai933', 'sai952', 'sai40', 'sai864',
       'sai188', 'sai655', 'sai253', 'sai412', 'sai627']}

In [60]:
data = pd.DataFrame(data)
data.to_csv('nodes.csv')