In [2]:
import pandas as pd
df = pd.read_csv('edges.csv')

In [3]:
df[:3]

        SA  weigh
0  876,833    264
1  743,465    261
2  366,833    256

In [4]:
df['source'], df['target'] = df['SA'].str.split(',', 1).str

In [7]:
df = df.drop(['SA'],axis =1)

In [9]:
df.to_csv('edges.csv')

In [18]:
data = {'name':['190', '684', '93', '975', '293', '876', '366', '17', '647', '698',
       '782', '795', '745', '962', '426', '743', '107', '342', '89',
       '585', '966', '556', '663', '574', '763', '343', '416', '744',
       '788', '712', '947', '874', '825', '584', '710', '972', '283',
       '561', '22', '453', '505', '183', '777', '237', '994', '21', '778',
       '240', '18', '239', '200', '642', '589','439', '908', '362', '394', '918', '985', '92', '238', '508',
       '559', '264', '645', '630', '465', '346', '833', '682', '248',
       '130', '536', '434', '225', '938', '518', '75', '885', '349',
       '736', '67', '687', '63', '327', '604', '515', '351', '376', '992',
       '165', '776', '473', '460', '699', '345', '657', '914', '988',
       '380', '476', '492', '535', '544']}

In [19]:
data = pd.DataFrame(data)
data.to_csv('nodes.csv')